@model Crud_Campos_Dealer.Data.Entities.Produto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dscProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dscProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vlrUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vlrUnitario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idProduto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
